---
import Link from "../components/Link.astro";
---

<h1>Sindercube</h1>

<p>Minecraft tools and mods to inspire your creativity</p>

<div class="links">
    <Link text="Github" icon="github" link="https://github.com/Sindercube"/>
    <Link text="Modrinth" icon="modrinth" link="https://modrinth.com/organization/Sindercube"/>
    <Link text="Bluesky" icon="bluesky" link="https://bsky.app/profile/sindercu.be"/>
    <Link text="Youtube" icon="youtube" link="https://www.youtube.com/@Sindercube"/>
</div>

<style>

</style>
